<section class="about-me-section">
  <div class="about-me-overall">
    <h1 class="about-me-hidden-header">About me</h1>
    <div class="container about-me-overall-description">
      <div class="about-me-description-box">
        <p class="about-me-description-text">
          I work with people all over the world to create impressive and
          <span class="about-me-description-text-red">functional</span>
          <span class="about-me-description-text-gray">websites</span> that
          reflect each client's unique personality.
        </p>
      </div>
    </div>
    <div class="container about-me-overall-photo">
      <div class="about-me-description-box">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              ./img/about-me/desktop/about-me-desktop-1x.jpg 1x,
              ./img/about-me/desktop/about-me-desktop-2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/about-me/tablet/about-me-tablet-1x.jpg 1x,
              ./img/about-me/tablet/about-me-tablet-2x.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/about-me/mobile/about-me-mobile-1x.jpg 1x,
              ./img/about-me/mobile/about-me-mobile-2x.jpg 2x
            "
          />
          <img
            class="about-me-description-image"
            src="./img/about-me/mobile/about-me-mobile-1x.jpg"
            alt="Man with laptop"
            loading="lazy"
          />
        </picture>
      </div>
    </div>
  </div>
  <div class="about-me-accordion-section container">
    <ul class="about-me-accordion-list accordion-container">
      <li class="about-me-accordion-list-item ac">
        <h5 class="about-me-accordion-list-item-title ac-header">
          About me
          <button class="accordion-list-item-button ac-trigger">
            <svg class="accordion-list-item-icon" width="20" height="20">
              <use href="./img/sprite.svg#icon-accordion-down"></use>
            </svg>
          </button>
        </h5>
        <p class="accordion-list-item-text ac-panel">
          I am Lloyd Jefferson, a talented programmer with extensive expertise
          in software development. I have an understanding of different
          programming languages ​and technologies, always ready to improve my
          skills. I always follow the latest trends and look for unconventional,
          creative solutions to problems. I have a high level of analytical
          skills and am able to effectively solve even the most difficult tasks
          encountered on the way.
          <span class="indented"
            >Able to work both independently and in a team. I can effectively
            cooperate with colleagues, exchanging ideas and finding optimal
            solutions. Professional maturity allows you to calmly cope with
            challenges and stressful situations, while maintaining a high
            quality of work.I am always looking for opportunities for
            self-improvement. I actively study new technologies and practices to
            stay abreast of the latest innovations. I have a strong
            understanding of various programming languages, frameworks and
            architectural concepts that allow me to create efficient and
            scalable software.</span
          >
        </p>
      </li>
      <li class="about-me-accordion-list-item ac">
        <h5 class="about-me-accordion-list-item-title ac-header">
          ROLE
          <button class="accordion-list-item-button ac-trigger">
            <svg class="accordion-list-item-icon" width="20" height="20">
              <use href="./img/sprite.svg#icon-accordion-down"></use>
            </svg>
          </button>
        </h5>
        <p class="accordion-list-item-text ac-panel">
          Frontend development
          <span class="indented-list"> HeadlessCMS,Wordpress </span>
          <span class="indented-list indented-list-last"> Blender(enjoy) </span>
        </p>
      </li>
      <li class="about-me-accordion-list-item ac">
        <h5 class="about-me-accordion-list-item-title ac-header">
          EDUCATION
          <button class="accordion-list-item-button ac-trigger">
            <svg class="accordion-list-item-icon" width="20" height="20">
              <use href="./img/sprite.svg#icon-accordion-down"></use>
            </svg>
          </button>
        </h5>
        <p class="accordion-list-item-text ac-panel">
          2018 - 2019 / Frontend Development Diploma, GoIT IT
          <span class="intended-enter"> School, New York</span>
          <span class="indented-list">
            2019 - 2020 / Advanced Web Development Certificate, GoIT IT
            <span class="intended-enter">School, New York</span>
          </span>
          <span class="indented-list indented-list-last">
            2020 - 2022 / Advanced Blender Animation Techniques, Udemy
          </span>
        </p>
      </li>
    </ul>
  </div>
  <div class="about-me-swiper-section container">
    <div class="swiper about-me-swiper-container">
      <ul class="swiper-wrapper about-me-swiper-wrapper-list">
        <li class="about-me-swiper-wrapper-item swiper-slide">
          <button class="about-me-swiper-btn">Soft skills</button>
        </li>
        <li class="about-me-swiper-wrapper-item swiper-slide">
          <button class="about-me-swiper-btn">HTML/CSS</button>
        </li>
        <li class="about-me-swiper-wrapper-item swiper-slide">
          <button class="about-me-swiper-btn">JavaScript</button>
        </li>
        <li class="about-me-swiper-wrapper-item swiper-slide">
          <button class="about-me-swiper-btn">React</button>
        </li>
        <li class="about-me-swiper-wrapper-item swiper-slide">
          <button class="about-me-swiper-btn">Node.js</button>
        </li>
        <li class="about-me-swiper-wrapper-item swiper-slide">
          <button class="about-me-swiper-btn">React Native</button>
        </li>
        <li class="about-me-swiper-wrapper-item swiper-slide">
          <button class="about-me-swiper-btn">Soft skills</button>
        </li>
        <li class="about-me-swiper-wrapper-item swiper-slide">
          <button class="about-me-swiper-btn">HTML/CSS</button>
        </li>
        <li class="about-me-swiper-wrapper-item swiper-slide">
          <button class="about-me-swiper-btn">JavaScript</button>
        </li>
        <li class="about-me-swiper-wrapper-item swiper-slide">
          <button class="about-me-swiper-btn">React</button>
        </li>
        <li class="about-me-swiper-wrapper-item swiper-slide">
          <button class="about-me-swiper-btn">Node.js</button>
        </li>
        <li class="about-me-swiper-wrapper-item swiper-slide">
          <button class="about-me-swiper-btn">React Native</button>
        </li>
      </ul>
    </div>
    <div class="about-me-swiper-btn-next swiper-button-next">
      <svg class="about-me-arrow-next" width="28" height="28">
        <use href="./img/sprite.svg#icon-slider-arrow-left"></use>
      </svg>
    </div>
  </div>
</section>
