<section class="section-covers">
    <h2 class="visually-hidden">Covers</h2>
    <div class="content">
        <div class="film">

<!--============================== L I N E  1 =========================-->
            <ul class="film-line" >
                <li>
                    <div class="film-element">
                        <picture>
                            <source
                            srcset="
                            ./img/covers/desktop-covers/1x/d-organic-diet.png 1x,
                            ./img/covers/desktop-covers/2x/d-organic-diet@2x.png 2x"
                            media="(min-width: 1440px)"
                            >

                            <source
                            srcset="
                            ./img/covers/tablet-covers/1x/t-organic-diet.png 1x,
                            ./img/covers/tablet-covers/2x/t-organic-diet@2x.png 2x"
                            media="(min-width: 768px)"
                            >

                            <source
                            srcset="
                            ./img/covers/mobile-covers/1x/m-organic-diet.png 1x,
                            ./img/covers/mobile-covers/2x/m-organic-diet@2x.png 2x
                            "
                            media="(max-width: 767px)"
                            >

                            <img 
                            src="./img/covers/desktop-covers/1x/d-organic-diet.png" 
                            alt="organic diet cover" 
                            >

                        </picture>
                    </div>
                </li>

                <li>
                    <div class="film-element">
                        <picture>
                            <source
                            srcset="
                            ./img/covers/desktop-covers/1x/d-ukrainian-artistry.png 1x,
                            ./img/covers/desktop-covers/2x/d-ukrainian-artistry@2x.png 2x"
                            media="(min-width: 1440px)"
                            >

                            <source
                            srcset="
                            ./img/covers/tablet-covers/1x/t-ukrainian-artistry.png 1x,
                            ./img/covers/tablet-covers/2x/t-ukrainian-artistry@2x.png 2x"
                            media="(min-width: 768px)"
                            >

                            <source
                            srcset="
                            ./img/covers/mobile-covers/1x/m-ukrainian-artistry.png 1x,
                            ./img/covers/mobile-covers/2x/m-ukrainian-artistry@2x.png 2x
                            "
                            media="(max-width: 767px)"
                            >

                            <img 
                            src="./img/covers/desktop-covers/1x/d-ukrainian-artistry.png" 
                            alt="urkrainian artistry cover" 
                            >
                        </picture>
                    </div>
                </li>
                <li>
                    <div class="film-element">
                        <picture>
                            <source
                            srcset="
                            ./img/covers/desktop-covers/1x/d-english-school.png 1x,
                            ./img/covers/desktop-covers/2x/d-english-school@2x.png 2x"
                            media="(min-width: 1440px)"
                            >

                            <source
                            srcset="
                            ./img/covers/tablet-covers/1x/t-english-school.png 1x,
                            ./img/covers/tablet-covers/2x/t-english-school@2x.png 2x"
                            media="(min-width: 768px)"
                            >

                            <source
                            srcset="
                            ./img/covers/mobile-covers/1x/m-english-school.png 1x,
                            ./img/covers/mobile-covers/2x/m-english-school@2x.png 2x
                            "
                            media="(max-width: 767px)"
                            >

                            <img 
                            src="./img/covers/desktop-covers/1x/d-english-school.png" 
                            alt="english school cover" 
                            >

                        </picture>
                    </div>
                </li>
                <li>
                    <div class="film-element">
                        <picture>
                            <source
                            srcset="
                            ./img/covers/desktop-covers/1x/d-brand-shop.png 1x,
                            ./img/covers/desktop-covers/2x/d-brand-shop@2x.png 2x"
                            media="(min-width: 1440px)"
                            >

                            <source
                            srcset="
                            ./img/covers/tablet-covers/1x/t-brand-shop.png 1x,
                            ./img/covers/tablet-covers/2x/t-brand-shop@2x.png 2x"
                            media="(min-width: 768px)"
                            >

                            <source
                            srcset="
                            ./img/covers/mobile-covers/1x/m-brand-shop.png 1x,
                            ./img/covers/mobile-covers/2x/m-brand-shop@2x.png 2x
                            "
                            media="(max-width: 767px)"
                            >

                            <img 
                            src="./img/covers/desktop-covers/1x/d-brand-shop.png" 
                            alt="brand shop cover" 
                            >

                        </picture>
                    </div>
                </li>
                <li>
                    <div class="film-element">
                        <picture>
                            <source
                            srcset="
                            ./img/covers/desktop-covers/1x/d-harvest-box.png 1x,
                            ./img/covers/desktop-covers/2x/d-harvest-box@2x.png 2x"
                            media="(min-width: 1440px)"
                            >

                            <source
                            srcset="
                            ./img/covers/tablet-covers/1x/t-harvest-box.png 1x,
                            ./img/covers/tablet-covers/2x/t-harvest-box@2x.png 2x"
                            media="(min-width: 768px)"
                            >

                            <source
                            srcset="
                            ./img/covers/mobile-covers/1x/m-harvest-box.png 1x,
                            ./img/covers/mobile-covers/2x/m-harvest-box@2x.png 2x
                            "
                            media="(max-width: 767px)"
                            >

                            <img 
                            src="./img/covers/desktop-covers/1x/d-harvest-box.png" 
                            alt="harvest box cover" 
                            >
                        </picture>
                    </div>
                </li>
            </ul>

<!--=========================== L I N E  2 ============================-->
           
            <ul class="film-line" >
                <li>
                    <div class="film-element">
                        <picture>
                            <source
                            srcset="
                            ./img/covers/desktop-covers/1x/d-watch-collection.png 1x,
                            ./img/covers/desktop-covers/2x/d-watch-collection@2x.png 2x"
                            media="(min-width: 1440px)"
                            >

                            <source
                            srcset="
                            ./img/covers/tablet-covers/1x/t-watch-collection.png 1x,
                            ./img/covers/tablet-covers/2x/t-watch-collection@2x.png 2x"
                            media="(min-width: 768px)"
                            >

                            <source
                            srcset="
                            ./img/covers/mobile-covers/1x/m-watch-collection.png 1x,
                            ./img/covers/mobile-covers/2x/m-watch-collection@2x.png 2x
                            "
                            media="(max-width: 767px)"
                            >

                            <img 
                            src="./img/covers/desktop-covers/1x/d-watch-collection.png" 
                            alt="watch collection cover" 
                            >
                        </picture>
                    </div>
                </li>                 
                <li>
                    <div class="film-element">
                        <picture>
                            <source
                            srcset="
                            ./img/covers/desktop-covers/1x/d-fitness-transform.png 1x,
                            ./img/covers/desktop-covers/2x/d-fitness-transform@2x.png 2x"
                            media="(min-width: 1440px)"
                            >

                            <source
                            srcset="
                            ./img/covers/tablet-covers/1x/t-fitness-transform.png 1x,
                            ./img/covers/tablet-covers/2x/t-fitness-transform@2x.png 2x"
                            media="(min-width: 768px)"
                            >

                            <source
                            srcset="
                            ./img/covers/mobile-covers/1x/m-fitness-transform.png 1x,
                            ./img/covers/mobile-covers/2x/m-fitness-transform@2x.png 2x
                            "
                            media="(max-width: 767px)"
                            >

                            <img 
                            src="./img/covers/desktop-covers/1x/d-fitness-transform.png" 
                            alt="fitness cover" 
                            >

                        </picture>
                    </div>
                </li>

                <li>
                    <div class="film-element">
                        <picture>
                            <source
                            srcset="
                            ./img/covers/desktop-covers/1x/d-mimino.png 1x,
                            ./img/covers/desktop-covers/2x/d-mimino@2x.png 2x"
                            media="(min-width: 1440px)"
                            >

                            <source
                            srcset="
                            ./img/covers/tablet-covers/1x/t-mimino.png 1x,
                            ./img/covers/tablet-covers/2x/t-mimino@2x.png 2x"
                            media="(min-width: 768px)"
                            >

                            <source
                            srcset="
                            ./img/covers/mobile-covers/1x/m-mimino.png 1x,
                            ./img/covers/mobile-covers/2x/m-mimino@2x.png 2x
                            "
                            media="(max-width: 767px)"
                            >

                            <img 
                            src="./img/covers/mobile-covers/1x/m-mimino.png" 
                            alt="mimino cover" 
                            >

                        </picture>
                    </div>
                </li>
                <li>
                    <div class="film-element">
                        <picture>
                            <source
                            srcset="
                            ./img/covers/desktop-covers/1x/d-fitness-shape.png 1x,
                            ./img/covers/desktop-covers/2x/d-fitness-shape@2x.png 2x"
                            media="(min-width: 1440px)"
                            >

                            <source
                            srcset="
                            ./img/covers/tablet-covers/1x/t-fitness-shape.png 1x,
                            ./img/covers/tablet-covers/2x/t-fitness-shape@2x.png 2x"
                            media="(min-width: 768px)"
                            >

                            <source
                            srcset="
                            ./img/covers/mobile-covers/1x/m-fitness-shape.png 1x,
                            ./img/covers/mobile-covers/2x/m-fitness-shape@2x.png 2x
                            "
                            media="(max-width: 767px)"
                            >

                            <img 
                            src="./img/covers/desktop-covers/1x/d-fitness-shape.png" 
                            alt="fitness cover" 
                            >
                        </picture>
                    </div>
                </li>

                <li>
                    <div class="film-element">
                        <picture>
                            <source
                            srcset="
                            ./img/covers/desktop-covers/1x/d-organic-diet.png 1x,
                            ./img/covers/desktop-covers/2x/d-organic-diet@2x.png 2x"
                            media="(min-width: 1440px)"
                            >

                            <source
                            srcset="
                            ./img/covers/tablet-covers/1x/t-organic-diet.png 1x,
                            ./img/covers/tablet-covers/2x/t-organic-diet@2x.png 2x"
                            media="(min-width: 768px)"
                            >

                            <source
                            srcset="
                            ./img/covers/mobile-covers/1x/m-organic-diet.png 1x,
                            ./img/covers/mobile-covers/2x/m-organic-diet@2x.png 2x
                            "
                            media="(max-width: 767px)"
                            >

                            <img 
                            src="./img/covers/desktop-covers/1x/d-organic-diet.png" 
                            alt="organic diet cover" 
                            >

                        </picture>
                    </div>
                </li>
            </ul>


<!-- ========================== L I N E  3 ============================-->
            <ul class="film-line" >
                <li>
                    <div class="film-element">
                        <picture>
                            <source
                            srcset="
                            ./img/covers/desktop-covers/1x/d-harvest-box.png 1x,
                            ./img/covers/desktop-covers/2x/d-harvest-box@2x.png 2x"
                            media="(min-width: 1440px)"
                            >

                            <source
                            srcset="
                            ./img/covers/tablet-covers/1x/t-harvest-box.png 1x,
                            ./img/covers/tablet-covers/2x/t-harvest-box@2x.png 2x"
                            media="(min-width: 768px)"
                            >

                            <source
                            srcset="
                            ./img/covers/mobile-covers/1x/m-harvest-box.png 1x,
                            ./img/covers/mobile-covers/2x/m-harvest-box@2x.png 2x
                            "
                            media="(max-width: 767px)"
                            >

                            <img 
                            src="./img/covers/desktop-covers/1x/d-harvest-box.png" 
                            alt="harvest box cover" 
                            >
                        </picture>
                    </div>
                </li>

                <li>
                    <div class="film-element">
                        <picture>
                            <source
                            srcset="
                            ./img/covers/desktop-covers/1x/d-french-school.png 1x,
                            ./img/covers/desktop-covers/2x/d-french-school@2x.png 2x"
                            media="(min-width: 1440px)"
                            >

                            <source
                            srcset="
                            ./img/covers/tablet-covers/1x/t-french-school.png 1x,
                            ./img/covers/tablet-covers/2x/t-french-school@2x.png 2x"
                            media="(min-width: 768px)"
                            >

                            <source
                            srcset="
                            ./img/covers/mobile-covers/1x/m-french-school.png 1x,
                            ./img/covers/mobile-covers/2x/m-french-school@2x.png 2x
                            "
                            media="(max-width: 767px)"
                            >

                            <img 
                            src="./img/covers/desktop-covers/1x/d-french-school.png" 
                            alt="finances school cover" 
                            >
                        </picture>
                    </div>
                </li>
                <li>
                    <div class="film-element">
                        <picture>
                            <source
                            srcset="
                            ./img/covers/desktop-covers/1x/d-watch-collection.png 1x,
                            ./img/covers/desktop-covers/2x/d-watch-collection@2x.png 2x"
                            media="(min-width: 1440px)"
                            >

                            <source
                            srcset="
                            ./img/covers/tablet-covers/1x/t-watch-collection.png 1x,
                            ./img/covers/tablet-covers/2x/t-watch-collection@2x.png 2x"
                            media="(min-width: 768px)"
                            >

                            <source
                            srcset="
                            ./img/covers/mobile-covers/1x/m-watch-collection.png 1x,
                            ./img/covers/mobile-covers/2x/m-watch-collection@2x.png 2x
                            "
                            media="(max-width: 767px)"
                            >

                            <img 
                            src="./img/covers/desktop-covers/1x/d-watch-collection.png" 
                            alt="watch collection cover" 
                            >
                        </picture>
                    </div>
                </li>
                <li>
                    <div class="film-element">
                        <picture>
                            <source
                            srcset="
                            ./img/covers/desktop-covers/1x/d-ukrainian-artistry.png 1x,
                            ./img/covers/desktop-covers/2x/d-ukrainian-artistry@2x.png 2x"
                            media="(min-width: 1440px)"
                            >

                            <source
                            srcset="
                            ./img/covers/tablet-covers/1x/t-ukrainian-artistry.png 1x,
                            ./img/covers/tablet-covers/2x/t-ukrainian-artistry@2x.png 2x"
                            media="(min-width: 768px)"
                            >

                            <source
                            srcset="
                            ./img/covers/mobile-covers/1x/m-ukrainian-artistry.png 1x,
                            ./img/covers/mobile-covers/2x/m-ukrainian-artistry@2x.png 2x
                            "
                            media="(max-width: 767px)"
                            >

                            <img 
                            src="./img/covers/desktop-covers/1x/d-ukrainian-artistry.png" 
                            alt="ukrainian artistry cover" 
                            >
                        </picture>
                    </div>
                </li>                    
                <li>
                    <div class="film-element">
                        <picture>
                            <source
                            srcset="
                            ./img/covers/desktop-covers/1x/d-fitness-transform.png 1x,
                            ./img/covers/desktop-covers/2x/d-fitness-transform@2x.png 2x"
                            media="(min-width: 1440px)"
                            >

                            <source
                            srcset="
                            ./img/covers/tablet-covers/1x/t-fitness-transform.png 1x,
                            ./img/covers/tablet-covers/2x/t-fitness-transform@2x.png 2x"
                            media="(min-width: 768px)"
                            >

                            <source
                            srcset="
                            ./img/covers/mobile-covers/1x/m-fitness-transform.png 1x,
                            ./img/covers/mobile-covers/2x/m-fitness-transform@2x.png 2x
                            "
                            media="(max-width: 767px)"
                            >

                            <img 
                            src="./img/covers/desktop-covers/1x/d-fitness-transform.png" 
                            alt="fitness cover" 
                            >

                        </picture>
                    </div>
                </li>
            </ul> 

<!-- =========================== L I N E  4 ============================-->
            <ul class="film-line" >
                <li>
                    <div class="film-element">
                        <picture>
                            <source
                            srcset="
                            ./img/covers/desktop-covers/1x/d-brand-shop.png 1x,
                            ./img/covers/desktop-covers/2x/d-brand-shop@2x.png 2x"
                            media="(min-width: 1440px)"
                            >

                            <source
                            srcset="
                            ./img/covers/tablet-covers/1x/t-brand-shop.png 1x,
                            ./img/covers/tablet-covers/2x/t-brand-shop@2x.png 2x"
                            media="(min-width: 768px)"
                            >

                            <source
                            srcset="
                            ./img/covers/mobile-covers/1x/m-brand-shop.png 1x,
                            ./img/covers/mobile-covers/2x/m-brand-shop@2x.png 2x
                            "
                            media="(max-width: 767px)"
                            >

                            <img 
                            src="./img/covers/desktop-covers/1x/d-brand-shop.png" 
                            alt="brand shop cover"
                            >

                        </picture>
                    </div>
                </li>
                <li>
                    <div class="film-element">
                        <picture>
                            <source
                            srcset="
                            ./img/covers/desktop-covers/1x/d-organic-diet.png 1x,
                            ./img/covers/desktop-covers/2x/d-organic-diet@2x.png 2x"
                            media="(min-width: 1440px)"
                            >

                            <source
                            srcset="
                            ./img/covers/tablet-covers/1x/t-organic-diet.png 1x,
                            ./img/covers/tablet-covers/2x/t-organic-diet@2x.png 2x"
                            media="(min-width: 768px)"
                            >

                            <source
                            srcset="
                            ./img/covers/mobile-covers/1x/m-organic-diet.png 1x,
                            ./img/covers/mobile-covers/2x/m-organic-diet@2x.png 2x
                            "
                            media="(max-width: 767px)"
                            >

                            <img 
                            src="./img/covers/desktop-covers/1x/d-organic-diet.png" 
                            alt="organic-diet-cover"
                            >

                        </picture>
                    </div>
                </li>
                <li>
                    <div class="film-element">
                        <picture>
                            <source
                            srcset="
                            ./img/covers/desktop-covers/1x/d-fitness-shape.png 1x,
                            ./img/covers/desktop-covers/2x/d-fitness-shape@2x.png 2x"
                            media="(min-width: 1440px)"
                            >

                            <source
                            srcset="
                            ./img/covers/tablet-covers/1x/t-fitness-shape.png 1x,
                            ./img/covers/tablet-covers/2x/t-fitness-shape@2x.png 2x"
                            media="(min-width: 768px)"
                            >

                            <source
                            srcset="
                            ./img/covers/mobile-covers/1x/m-fitness-shape.png 1x,
                            ./img/covers/mobile-covers/2x/m-fitness-shape@2x.png 2x
                            "
                            media="(max-width: 767px)"
                            >

                            <img 
                            src="./img/covers/desktop-covers/1x/d-fitness-shape.png" 
                            alt="fitness cover" 
                            >
                        </picture>
                    </div>
                </li>        
                <li>
                    <div class="film-element">
                        <picture>
                            <source
                            srcset="
                            ./img/covers/desktop-covers/1x/d-french-school.png 1x,
                            ./img/covers/desktop-covers/2x/d-french-school@2x.png 2x"
                            media="(min-width: 1440px)"
                            >

                            <source
                            srcset="
                            ./img/covers/tablet-covers/1x/t-french-school.png 1x,
                            ./img/covers/tablet-covers/2x/t-french-school@2x.png 2x"
                            media="(min-width: 768px)"
                            >

                            <source
                            srcset="
                            ./img/covers/mobile-covers/1x/m-french-school.png 1x,
                            ./img/covers/mobile-covers/2x/m-french-school@2x.png 2x
                            "
                            media="(max-width: 767px)"
                            >

                            <img 
                            src="./img/covers/desktop-covers/1x/d-french-school.png" 
                            alt="finance school cover" 
                            >
                        </picture>
                    </div>
                </li>

                <li>
                    <div class="film-element">
                        <picture>
                            <source
                            srcset="
                            ./img/covers/desktop-covers/1x/d-fitness-shape.png 1x,
                            ./img/covers/desktop-covers/2x/d-fitness-shape@2x.png 2x"
                            media="(min-width: 1440px)"
                            >

                            <source
                            srcset="
                            ./img/covers/tablet-covers/1x/t-fitness-shape.png 1x,
                            ./img/covers/tablet-covers/2x/t-fitness-shape@2x.png 2x"
                            media="(min-width: 768px)"
                            >

                            <source
                            srcset="
                            ./img/covers/mobile-covers/1x/m-fitness-shape.png 1x,
                            ./img/covers/mobile-covers/2x/m-fitness-shape@2x.png 2x
                            "
                            media="(max-width: 767px)"
                            >

                            <img 
                            src="./img/covers/desktop-covers/1x/d-fitness-shape.png" 
                            alt="fitness cover" 
                            >
                        </picture>
                    </div>
                </li>
            </ul>

<!-- ======================= L I N E  5 ================================-->
            <ul class="film-line" >
                <li>
                    <div class="film-element">
                        <picture>
                            <source
                            srcset="
                            ./img/covers/desktop-covers/1x/d-fitness-transform.png 1x,
                            ./img/covers/desktop-covers/2x/d-fitness-transform@2x.png 2x"
                            media="(min-width: 1440px)"
                            >

                            <source
                            srcset="
                            ./img/covers/tablet-covers/1x/t-fitness-transform.png 1x,
                            ./img/covers/tablet-covers/2x/t-fitness-transform@2x.png 2x"
                            media="(min-width: 768px)"
                            >

                            <source
                            srcset="
                            ./img/covers/mobile-covers/1x/m-fitness-transform.png 1x,
                            ./img/covers/mobile-covers/2x/m-fitness-transform@2x.png 2x
                            "
                            media="(max-width: 767px)"
                            >

                            <img 
                            src="./img/covers/desktop-covers/1x/d-fitness-transform.png" 
                            alt="fitness center cover"
                            loading="lazy" 
                            >

                        </picture>
                    </div>
                </li>

                <li>
                    <div class="film-element">
                        <picture>
                            <source
                            srcset="
                            ./img/covers/desktop-covers/1x/d-mimino.png 1x,
                            ./img/covers/desktop-covers/2x/d-mimino@2x.png 2x"
                            media="(min-width: 1440px)"
                            >

                            <source
                            srcset="
                            ./img/covers/tablet-covers/1x/t-mimino.png 1x,
                            ./img/covers/tablet-covers/2x/t-mimino@2x.png 2x"
                            media="(min-width: 768px)"
                            >

                            <source
                            srcset="
                            ./img/covers/mobile-covers/1x/m-mimino.png 1x,
                            ./img/covers/mobile-covers/2x/m-mimino@2x.png 2x
                            "
                            media="(max-width: 767px)"
                            >

                            <img 
                            src="./img/covers/mobile-covers/1x/m-mimino.png" 
                            alt="mimino cover" 
                            >

                        </picture>
                    </div>
                </li>

                <li>
                    <div class="film-element">
                        <picture>
                            <source
                            srcset="
                            ./img/covers/desktop-covers/1x/d-organic-diet.png 1x,
                            ./img/covers/desktop-covers/2x/d-organic-diet@2x.png 2x"
                            media="(min-width: 1440px)"
                            >

                            <source
                            srcset="
                            ./img/covers/tablet-covers/1x/t-organic-diet.png 1x,
                            ./img/covers/tablet-covers/2x/t-organic-diet@2x.png 2x"
                            media="(min-width: 768px)"
                            >

                            <source
                            srcset="
                            ./img/covers/mobile-covers/1x/m-organic-diet.png 1x,
                            ./img/covers/mobile-covers/2x/m-organic-diet@2x.png 2x
                            "
                            media="(max-width: 767px)"
                            >

                            <img 
                            src="./img/covers/desktop-covers/1x/d-organic-diet.png" 
                            alt="organic diet cover" 
                            >

                        </picture>
                    </div>
                </li>

                <li>
                    <div class="film-element">
                        <picture>
                            <source
                            srcset="
                            ./img/covers/desktop-covers/1x/d-ukrainian-artistry.png 1x,
                            ./img/covers/desktop-covers/2x/d-ukrainian-artistry@2x.png 2x"
                            media="(min-width: 1440px)"
                            >

                            <source
                            srcset="
                            ./img/covers/tablet-covers/1x/t-ukrainian-artistry.png 1x,
                            ./img/covers/tablet-covers/2x/t-ukrainian-artistry@2x.png 2x"
                            media="(min-width: 768px)"
                            >

                            <source
                            srcset="
                            ./img/covers/mobile-covers/1x/m-ukrainian-artistry.png 1x,
                            ./img/covers/mobile-covers/2x/m-ukrainian-artistry@2x.png 2x
                            "
                            media="(max-width: 767px)"
                            >

                            <img 
                            src="./img/covers/desktop-covers/1x/d-ukrainian-artistry.png" 
                            alt="ukrainian artistry cover" 
                            >
                        </picture>
                    </div>
                </li>

                <li>
                    <div class="film-element">
                        <picture>
                            <source
                            srcset="
                            ./img/covers/desktop-covers/1x/d-brand-shop.png 1x,
                            ./img/covers/desktop-covers/2x/d-brand-shop@2x.png 2x"
                            media="(min-width: 1440px)"
                            >

                            <source
                            srcset="
                            ./img/covers/tablet-covers/1x/t-brand-shop.png 1x,
                            ./img/covers/tablet-covers/2x/t-brand-shop@2x.png 2x"
                            media="(min-width: 768px)"
                            >

                            <source
                            srcset="
                            ./img/covers/mobile-covers/1x/m-brand-shop.png 1x,
                            ./img/covers/mobile-covers/2x/m-brand-shop@2x.png 2x
                            "
                            media="(max-width: 767px)"
                            >

                            <img 
                            src="./img/covers/desktop-covers/1x/d-brand-shop.png" 
                            alt="brand shop cover" 
                            >

                        </picture>
                    </div>
                </li>
                
            </ul>

            
            
        </div>
    </div>
</section>