<header class="header">
  <div class="container header-box">
    <div class="logo-box">
      <picture>
        <source
          srcset="
            ./img/logo/header-logo-1x.png 1x,
            ./img/logo/header-logo-2x.png 2x
          "
          media="(max-width: 767px)"
        />
        <img src="./img/logo/header-logo-1x.png" alt="jefferson" class="logo" loading="lazy" />
      </picture>
      <p>jefferson*</p>
    </div>
    <div class="dropdown">
      <button class="dropdown-btn-menu">Menu</button>
      <div class="dropdown-box" id="menu">
        <ul class="dropdown-items">
          <li class="dropdown-item"><a href="#about-me">About me</a></li>
          <li class="dropdown-item"><a href="#benefits">Benefits</a></li>
          <li class="dropdown-item"><a href="#projects">Projects</a></li>
          <li class="dropdown-item"><a href="#FAQ">FAQ</a></li>
        </ul>
      </div>
    </div>
    <div>
      <a href="#work-together" class="button-order">Order the project</a>
      <button class="header-burger" aria-label="header burger button">
        <svg
          class="header-burger-icon"
          width="28"
          height="28"
          aria-label="icon-open-mobile-menu"
        >
          <use href="./img/sprite.svg#icon-menu-burger"></use>
        </svg>
      </button>
    </div>
  </div>
  <div class="modal-menu">
    <div class="box-menu container">
      <div class="btn-box-close top-right">
        <button class="close-btn-menu" aria-label="header modal close button">
          <svg
            class="close-btn-menu-icon"
            width="28"
            height="28"
            aria-label="icon-close"
          >
            <use href="./img/sprite.svg#icon-x-close"></use>
          </svg>
        </button>
      </div>
      <div class="mob-menu-box">
        <ul class="mob-menu-item">
          <li><a href="#about-me" class="modal-mob-menu-link">About me</a></li>
          <li><a href="#benefits" class="modal-mob-menu-link">Benefits</a></li>
          <li><a href="#projects" class="modal-mob-menu-link">Project</a></li>
          <li><a href="#FAQ" class="modal-mob-menu-link">FAQ</a></li>
        </ul>
      </div>
      <div class="box-mob-button">
        <a href="#work-together" class="mob-menu-button-order"
          >Order the project</a
        >
      </div>
    </div>
  </div>
</header>
