
<header class="header">
  <div class="container header-box">
    <div class="logo-box">
      <picture>
        <source
          srcset="
            ../img/logo/header-logo-1x.png 1x,
            ../img/logo/header-logo-2x.png 2x
          "
          media="(max-width: 767px)"
        />
        <img src="../img/logo/header-logo-1x.png" alt="Man" class="logo" />
      </picture>
      <p>jefferson*</p>
    </div>
    <div class="dropdown">
      <a href="" class="dropdown-btn-menu">Menu</a>
      <div class="dropdown-content" id="menu">
        <ul>
          <li><a href="#about-me">About me</a></li>
          <li><a href="#benefits">Benefits</a></li>
          <li><a href="#projects">Projects</a></li>
          <li><a href="#FAQ">FAQ</a></li>
        </ul>
      </div>
    </div>
    <div>
      <a href="#work-together" class="button-order">Order the project</a>
      <a class="social-link" href="">
        <svg class="social-icon" width="28" height="28">
          <use href="../img/sprite.svg#icon-menu-burger"></use>
        </svg>
      </a>
    </div>
  </div>
  <div class="modal-menu">
    <div class="box-menu container">
      <div class="btn-box-close top-right">
        <a class="close-btn" href="">
          <svg class="social-icon" width="28" height="28">
            <use href="../img/sprite.svg#icon-x-close"></use>
          </svg>
        </a>
      </div>
      <div class="mob-menu-box">
        <ul class="mob-menu-item">
          <li><a href="#about-me" class="mob-menu-text">About me</a></li>
          <li><a href="#benefits" class="mob-menu-text">Benefits</a></li>
          <li><a href="#projects" class="mob-menu-text">Project</a></li>
          <li><a href="#FAQ" class="mob-menu-text">FAQ</a></li>
        </ul>
      </div>
      <div class="box-mob-button">
        <a href="#work-together" class="mob-menu-button-order"
          >Order the project</a
        >
      </div>
    </div>
  </div>
</header>
