<section class="hero-section">
<div class="container">
<h1 class="hero-title" id="heroTitle">Hello. <br> 
    I’m Fullstack developer
    Lloyd Jefferson.</h1>
    <ul class="hero-social-list">
        <li class="hero-list-item">
            <a href="https://www.instagram.com/goitclub/" 
            class="hero-list-link"
            target="_blank">IG</a> 
        </li>

        <li class="hero-list-item">
            <a href="https://www.facebook.com/goITclub/" 
            class="hero-list-link"
            target="_blank">FB</a>
        </li>

        <li class="hero-list-item">
            <a href="https://www.youtube.com/c/GoIT" 
            class="hero-list-link"
            target="_blank">YT</a>
        </li>

        <li class="hero-list-item">
            <a href="https://github.com/KaterynaKocheharova/codeGeniuses-project-portfolio"
             class="hero-list-link"
             target="_blank">GH</a>
        </li>
        <li class="hero-list-item email">
            <a href="mailto:lloydjefferson@gmail.com" class="email-item" target="_blank">lloydjefferson@gmail.com</a>
        </li>         
    </ul>
</div>   
</section>
