<div class="backdrop hidden">
  <div class="modal-window">
    <button class="close-btn">
      <svg class="svg-close" aria-label="work together modal close button">
        <use href="./img/sprite.svg#icon-x-close"></use>
      </svg>
    </button>
    <div class="text-container">
      <h2 class="modal-title">Thank you for your interest in cooperation!</h2>
      <p class="modal-paragraf">
        The manager will contact you shortly to discuss further details and
        opportunities for cooperation. Please stay in touch
      </p>
      </div>
  </div>
</div>
