<div class="backdrop hidden"></div>
<div class="modal-relative">
  <div class="modal-window hidden">
    <div class="relative">
      <button class="close-btn">
        <svg class="svg-close">
          <use href="./img/sprite.svg#icon-x-close"></use>
        </svg>
      </button>
    </div>
    <div class="modal-text">
      <h2 class="modal-title">Thank you for your interest in cooperation!</h2>
      <p class="modal-paragraf">
        The manager will contact you shortly to discuss further details and
        opportunities for cooperation. Please stay in touch
      </p>
    </div>
  </div>
</div>
