<div class="work-together-modal-backdrop hidden">
  <div class="work-together-modal-window">
    <button class="work-together-close-btn">
      <svg class="work-together-svg-close">
        <use href="./img/sprite.svg#icon-x-close"></use>
      </svg>
    </button>
    <div class="work-together-text-container">
      <h2 class="work-together-modal-title">Thank you for your interest in cooperation!</h2>
      <p class="work-together-modal-paragraph">
        The manager will contact you shortly to discuss further details and
        opportunities for cooperation. Please stay in touch
      </p>
      </div>
  </div>
</div>
