<section class="projects">
    <h1 class="projects-title">Projects</h1>
    <div class="swiper-container">
        <ul class="swiper-wrapper">
            <li class="swiper-slide">
                <div class="project-wrapper">
                    <p>1234</p>
                </div>
            </li>
            <li class="swiper-slide">
                <div class="project-wrapper">
                    <p>1235</p>
                </div>
            </li>
            <li class="swiper-slide">
                <div class="project-wrapper">
                    <p>1238</p>
                </div>
            </li>
        </ul>
        <div class="swiper-button-prev">
        </div>
        <div class="swiper-button-next">
        </div>
    </div>
</section>