<section class="reviews-section">
  <div class="container">
    <h2 class="section-title reviews-title">Reviews</h2>

    <div class="swiper-container reviews-swiper-container">
      <ul class="swiper-wrapper reviews-swiper-wrapper">
      </ul>
      <div class="btns-wrapper">
          <div class="custom-swiper-btn-prev">
            <svg class="swiper-btn-prev-icon" width="32" height="32">
              <use href="./img/sprite.svg#icon-slider-arrow-left"></use>
            </svg>
          </div>
          <div class="custom-swiper-btn-next">
            <svg class="swiper-btn-next-icon" width="32" height="32">
              <use href="./img/sprite.svg#icon-slider-arrow-right"></use>
            </svg>
          </div>
        </div>
    </div>
  </div>
</section>