<section class="reviews-section">
  <div class="container">
    <h2 class="reviews-title">Reviews</h2>
  </div>
  <ul class="reviews-list">
    <li class="reviews-item">
      <img class="reviews-image" src="" alt="" />
      <h3 class="reviews-name">Natalia</h3>
      <p class="reviews-text">
        Work with was extraordinary! He turned out to be a very competent and
        responsible specialist. The projects were completed on time and the
        result exceeded my expectations
      </p>
    </li>
  </ul>
</section>
