<section class="reviews-section">
  <div class="container">
    <h2 class="section-title reviews-title">Reviews</h2>
    <ul class="reviews-list">
      <li class="reviews-item">
        <img
          class="reviews-image"
          srcset="
            ../img/reviews/Natalia-1x.png 1x,
            ../img/reviews/Natalia-2x.png 2x
          "
          alt=""
          width="48"
          height="48"
        />
        <h3 class="section-subtitle reviews-subtitle">Natalia</h3>
        <p class="section-text reviews-text">
          Work with was extraordinary! He turned out to be a very competent and
          responsible specialist. The projects were completed on time and the
          result exceeded my expectations
        </p>
      </li>
    </ul>
  </div>
</section>
