<footer class="section-footer" id="work-together">
  <div class="container">
    <div class="footer-content-wrapper">
      <h3 class="footer-title">
        <picture>
          <source
            srcset="
              ./img/logo/footer-tablet-and-desktop-logo-1x.png,
              ./img/logo/footer-tablet-and-desktop-logo-2x.png
            "
          />
          <source
            srcset="
              ./img/logo/mobile-footer-logo-1x.png,
              ./img/logo/mobile-footer-logo-2x.png
            "
          />
          <img
            src="./img/logo/footer-tablet-and-desktop-logo-1x.png"
            alt="me"
            class="footer-img"
          />
        </picture>
        LET'S <span class="highlighted-text">WORK</span>TOGETHER
      </h3>
      <form class="form-section">
        <div class="input-fields">
          <div>
            <input
              class="input-field"
              type="email"
              name="email"
              placeholder="clients@gmail.com"
              pattern="^\w+(\.\w+)?@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$"
              title="Please enter a valid email address"
              autocomplete="off"
              required
            />
            <p class="success-text visually-hidden">Success</p>
            <p class="error-text visually-hidden">Invalid email, try again</p>
          </div>
          <div>
            <input
              class="input-field"
              name="comment"
              placeholder="comments"
              maxlength="50"
              autocomplete="off"
              required
            />
            <p class="success-text visually-hidden">Success</p>
            <p class="error-text visually-hidden">Invalid email, try again</p>
          </div>
        </div>
        <button type="submit" class="submit-button">Send</button>
      </form>
      <div class="contact-info">
        <a class="email-info" href="mailto:lloydjefferson@gmail.com"
          >lloydjefferson@gmail.com</a
        >
        <a class="phone-info" href="tel:+380 11 1111 11 11"
          >+380 11 1111 11 11</a
        >
      </div>
    </div>
  </div>
</footer>
