<footer class="footer-section">
  <div class="container">
    <div class="footer-header">
      <div class="header-content">
        <img srcset="#" alt="me" class="header-img" />
        <h2 class="header-title">
          LET'S <span class="highlighted-text">WORK</span>
        </h2>
      </div>
      <h3 class="header-title"><span class="sub-text">TOGETHER</span></h3>
    </div>
    <form class="form-section">
      <div class="input-fields">
        <input
          class="input-field"
          type="email"
          name="email"
          placeholder="clients@gmail.com"
          pattern="^\w+(\.\w+)?@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$"
          title="Please enter a valid email address"
          required
        />
        <input
          class="input-field"
          name="comment"
          type="text"
          placeholder="comments"
          maxlength="50"
          required
        />
      </div>
      <button type="submit" class="submit-button">Send</button>
    </form>
    <div class="contact-info">
      <button class="email-info">
        <h3 class="info-text">lloydjefferson@gmail.com</h3>
      </button>
      <button class="phone-info">
        <h3 class="info-text">+380 11 1111 11 11</h3>
      </button>
    </div>

    <div class="backdrop hidden"></div>

    <div class="modal-window hidden">
      <div class="relative">
        <button class="close-btn">
          <svg class="svg-close">
            <use href="#"></use>
          </svg>
        </button>
      </div>
      <div class="modal-text">
        <h2 class="modal-title">Thank you for your interest in cooperation!</h2>
        <p class="modal-paragraf">
          The manager will contact you shortly to discuss further details and
          opportunities for cooperation. Please stay in touch
        </p>
      </div>
    </div>
  </div>
  <script src="../js/work-together.js" type="module"></script>
  <script src="../js/modal-window.js" type="module"></script>
</footer>
