
body {
    font-family: "Inter Tight", sans-serif;
    font-weight: 400;
    background-color: #1c1d20;
    color: rgb(250, 250, 250);
  }
  
  /* Додатковий клас боді із опен - це для тих хто буде працювати над модальним меню для мобілки - там треба буде за допомогою джі-ес прибрати скрол для баді */

  body.modal-is-open {
    overflow-y: hidden;
  }
  
  .container {
    min-width: 320px;
    max-width: 375px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
  }
  
  @media screen and (min-width: 768px) {
    .container {
      max-width: 768px;
      padding-left: 33px;
      padding-right: 33px;
    }
  }
  
  @media screen and (min-width: 1440px) {
    .container {
      max-width: 1440px;
      padding-left: 31px;
      padding-right: 31px;
    }
  }

  