.header {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  right: 0;
}

.logo-box {
  display: flex;
  gap: 8px;
}

.logo {
  border-radius: 18px;
  width: 80px;
  height: 80px;
}
.header-box {
  display: flex;
  justify-content: space-between;
  padding-top: 32px;
  background-color: transparent;
  width: 100%;
}

.top-right {
  align-self: flex-end;
}

.top-right {
  align-self: flex-end;
}

.mob-menu-box {
  align-self: center;
}

.button-order {
  background-color: #ed3b44;
  cursor: pointer;
  border-radius: 60px;
  padding: 14px 31px;
  width: 164px;
  height: 45px;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: #fafafa;
  border: none;
  display: none;
}

.mob-menu-button-order {
  background-color: #ed3b44;
  cursor: pointer;
  border-radius: 60px;
  padding: 14px 31px;
  width: 164px;
  height: 45px;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: #fafafa;
  border: none;
}

.box-mob-button {
  align-self: center;
}

.button-order:hover,
.button-order:focus {
  background-color: #e0373f;
}

/*/////////////////////////  MODAL  ///////////////////////////////*/

.modal-menu {
  position: fixed;
  z-index: 99999;
  width: 100%;
  height: 100%;
  background-color: silver;
  background-image: url(../img/header/mobile-menu-background-1x.png);
  background-repeat: no-repeat;
  background-size: cover;
  top: 0;
  opacity: 0;
  visibility: hidden;
  transform: translateX(100%);
  transition: opacity 900ms cubic-bezier(0.1, 0, 0.1, 1),
    visibility 900ms cubic-bezier(0.1, 0, 0.2, 1),
    transform 900ms cubic-bezier(0.1, 0, 0.2, 1);
}

.box-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 32px;
  padding-bottom: 64px;
  padding-right: 18px;
  padding-left: 18px;
  height: 100%;
}

.mob-menu-item {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.mob-menu-text {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;
  text-decoration: underline;
  text-underline-offset: 0.3em;
  color: #fafafa;
  text-underline-offset: 0.3em;
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;

  transform: translateX(0%);
  transition: opacity 900ms cubic-bezier(0.1, 0, 0.1, 1),
    visibility 900ms cubic-bezier(0.1, 0, 0.2, 1),
    transform 900ms cubic-bezier(0.1, 0, 0.2, 1);
}

/* DropDown */

.dropdown {
  position: relative;
  display: none;
  padding-top: 10px;
}
.dropdown-btn-menu {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;
  text-decoration: underline;
  text-underline-offset: 0.3em;
}

.dropdown-box {
  position: absolute;
  top: 30px;
  left: -13px;
  list-style-type: none;
  padding: 8px 0;
  margin: 0;
  background-color: transparent;
  opacity: 0;
  transition: opacity 0.9s ease, top 1.8s ease;
  gap: 15px;
  width: 70px;
  text-align: center;
  margin-top: 10px;
  pointer-events: none;
}

.pointer-auto {
  pointer-events: auto;
}

.dropdown-items {
  display: flex;
  flex-direction: column;
  gap: 11px;
}

.dropdown-box a {
  color: #eeebeb;
}

.dropdown-box.show {
  opacity: 1;
}

/* ///////////////////////////////////////////////////////////////////////// */

@media screen and (min-width: 768px) {
  .menu {
    display: block;
  }

  .button-order {
    display: block;
  }

  .social-link {
    display: none;
  }

  .dropdown {
    display: inline-block;
  }
  .modal-menu {
    opacity: 0;
    visibility: hidden;

    transform: translateX(100%);
    transition: opacity 500ms cubic-bezier(0.1, 0, 0.1, 1),
      visibility 500ms cubic-bezier(0.1, 0, 0.2, 1),
      transform 800ms cubic-bezier(0.1, 0, 0.2, 1);
  }
  .mob-menu {
    display: none;
  }
}
