

/* ===============MOBILE STYLES================ */
.hero-section{
    background-image: url(../img/hero/mobile/mobile-hero-background-1x.png);
    background-repeat: no-repeat;
    height: 812px;
    padding-top: 281px;
    padding-bottom: 32px;
}

@media screen and (min-resolution: 192dpi) and (max-width: 767px),
       screen and (min-resolution: 2dppx) and (max-width: 767px),
       screen and (min-device-pixel-ratio: 2) and (max-width: 767px) {
        .hero-section{
            background-image: url(../img/hero/mobile/mobile-hero-background-2x.png);
        }
        
       }

.hero-title{
color: rgb(250, 250, 250);
width: 343px;
font-size: 50px;
font-weight: 500;
text-align: left;
line-height: 1em;
letter-spacing: -0.03em;
text-transform: uppercase;
margin-bottom: 212px; 
margin-left: auto;
margin-right: auto;
overflow: hidden; 

}

.hero-title-spn{
    display: block;
}

.hero-social-list{
    display: flex;
    gap: 4px;
}

.hero-list-item{
    box-sizing: border-box;
    border: 1px solid rgba(250, 250, 250, 0.2);
    border-radius: 60px;
    width: 37px;
    height: 37px;

display: flex;
justify-content: center;
align-items: center;
padding: 15px 8px ;

transition: border 250ms linear, color 250ms linear;
}

.hero-list-item:hover,
.hero-list-item:focus{
    border: 1px solid rgb(250, 250, 250);;
}

.hero-list-link{
font-size: 14px;
font-weight: 500;
line-height: 1.2em;
/* letter-spacing: -0.03em; */
}
.email{
width: 178px;
padding: 15px 17px ;
}

/* ===============/MOBILE STYLES================*/


/* ===============TABLET STYLES================ */


@media screen and (min-width: 768px){
    .hero-section{
        background-image: url(../img/hero/tablet/tablet-hero-background-1x.png);
        height: 1024px;
        padding-top:300px;
    }

    .hero-title{
        color: rgb(250, 250, 250);
        width: 632px;
        font-size: 90px;
        line-height: 1em;
        text-align: left;
        text-transform: uppercase;
        margin-bottom: 187px;
    }

    .hero-social-list{
        justify-content: end;
        gap: 8px;
    }

    .hero-list-item{
        width: 55px;
        height: 55px;
        padding: 18px 16px ;
    }

    .hero-list-link{
        font-size: 16px;
    }

    .email{
        width: 223px;
    }
}

@media screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px),
  screen and (min-device-pixel-ratio: 2) and (min-width: 768px) {
  .hero-section {
    background-image: url(../img/hero/tablet/tablet-hero-background-2x.png);
  }
}
/* ===============/TABLET STYLES================ */



 /* ===============DESCTOP 1440 STYLES================ */

@media screen and (min-width: 1440px){
    .hero-section{
        background-image: url(../img/hero/desktop/hero-desktop-red-background-1x.png);
        height: 900px;
    }

    .hero-title{
        width: 1084px;
        margin-bottom: 150px;
    }

    .hero-list-item{
        padding: 18px 20px ;
    }
}

@media screen and (min-resolution: 192dpi) and (min-width: 1440px),
  screen and (min-resolution: 2dppx) and (min-width: 1440px),
  screen and (min-device-pixel-ratio: 2) and (min-width: 1440px) {
  .hero-section {
    background-image:url(../img/hero/desktop/hero-desktop-red-background-2x.png);
  }
}