.hero-section {
  background-image: url(../img/hero/mobile/mobile-hero-background-1x.png);
  background-repeat: no-repeat;
  background-size: contain;
  height: 812px;
  padding-top: 281px;
  padding-bottom: 32px;
}

@media screen and (min-resolution: 192dpi) and (max-width: 767px),
  screen and (min-resolution: 2dppx) and (max-width: 767px),
  screen and (min-device-pixel-ratio: 2) and (max-width: 767px) {
  .hero-section {
    background-image: url(../img/hero/mobile/mobile-hero-background-2x.png);
  }
}

@media screen and (min-width: 768px) {
  .hero-section {
    background-image: url(../img/hero/tablet/tablet-hero-background-1x.png);
    height: 1024px;
    padding-top: 300px;
  }
}

@media screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px),
  screen and (min-device-pixel-ratio: 2) and (min-width: 768px) {
  .hero-section {
    background-image: url(../img/hero/tablet/tablet-hero-background-2x.png);
  }
}

@media screen and (min-width: 1440px) {
  .hero-section {
    background-image: url(../img/hero/desktop/hero-desktop-red-background-1x.png);
    height: 900px;
  }
}

.hero-title {
  color: rgb(250, 250, 250);
  font-size: 50px;
  font-weight: 500;
  text-align: left;
  line-height: 1em;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  margin-bottom: 125px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  position: relative;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s, transform 1s;
}

@media screen and (min-width: 375px) {
  .hero-title {
    margin-bottom: 212px;
  }
}

.hero-title.show {
  opacity: 1;
  transform: translateY(0);
}

@media screen and (min-width: 768px) {
  .hero-title {
    color: rgb(250, 250, 250);
    width: 632px;
    font-size: 90px;
    line-height: 1em;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 187px;
  }
}

@media screen and (min-width: 1440px) {
  .hero-title {
    width: 1084px;
    margin-bottom: 243px;
  }
}

.hero-social-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

@media screen and (min-width: 375px) {
  .hero-social-list {
    gap: 4px;
    flex-wrap: nowrap;
  }
}

@media screen and (min-width: 768px) {
  .hero-social-list {
    justify-content: end;
    gap: 8px;
  }
}

.hero-social-list-item {
  box-sizing: border-box;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 60px;
  width: 37px;
  height: 37px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 8px;
  transition: border 250ms linear, color 250ms linear;
}

@media screen and (min-width: 768px) {
  .hero-social-list-item {
    width: 55px;
    height: 55px;
    padding: 18px 16px;
  }
}

@media screen and (min-width: 1440px) {
  .hero-social-list-item {
    padding: 18px 20px;
  }
}

.hero-social-list-item:hover,
.hero-social-list-item:focus {
  border: 1px solid rgb(250, 250, 250);
}

.hero-social-social-list-link {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.2em;
  letter-spacing: -0.03em;
}

@media screen and (min-width: 768px) {
  .hero-social-social-list-link {
    font-size: 16px;
  }
}

.email {
  width: 181px;
  padding: 10px 10px;
}

@media screen and (min-width: 375px) {
  .email {
    width: 223px;
    padding: 15px 17px;
  }
}

@media screen and (min-width: 768px) {
  .email {
    width: 223px;
  }
}

.email-link {
  font-size: 14px;
  letter-spacing: -0.02em;
  text-align: left;
}

@media screen and (min-width: 768px) {
  .email-link {
    font-size: 16px;
  }
}
