.work-together-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(15, 15, 16, 0.6);
  z-index: 999;
}

.work-together-backdrop.hidden {
  display: none;
}

.work-together-modal-window {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(28, 29, 32);
  border-radius: 20px;
  border: 1px solid rgba(250, 250, 250, 0.1);
  color: white;
  padding: 64px 32px;
  text-align: center;
}

.work-together-modal-window.hidden {
  display: none;
  opacity: 0;
}

.work-together-close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: transparent;
  border: 0;
}

.work-together-svg-close {
  stroke: white;
  fill: white;
  width: 22px;
  height: 22px;
}

.work-together-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.work-together-modal-title {
  width: 279px;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: -0.02em;
  line-height: 1.5;
  color: rgb(250, 250, 250);
  margin-bottom: 16px;
  text-align: center;
}

.work-together-modal-paragraph {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.02em;
  line-height: 1.5;
  color: rgba(250, 250, 250, 0.6);
  margin: 0;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .work-together-modal-window {
    max-width: 492px;
    padding: 64px;
  }
}
