.projects {
    margin-bottom: 64px;
}

@media (min-width: 767px) {
    .projects {
        margin-bottom: 96px;
    }
}

@media (min-width: 1439px) {
    .projects {
        margin-bottom: 164px;
    }
}

.projects-title {
    margin-bottom: 32px;
    text-align: left;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.02em;
    color: #fafafa66;
}

.swiper-container {
    overflow: hidden;
}

.swiper-wrapper {
    margin-bottom: 32px;
}

@media (min-width: 1439px) {
    .project-wrapper {
        display: flex;
    }
}

.info-wrapper {
    display: flex;
    flex-direction: column;
    padding: 32px;
}

@media (min-width: 767px) {
    .info-wrapper {
        display: flex;
        flex-direction: column;
        padding: 64px 130px 64px 64px;
    }
}

@media (min-width: 1439px) {
    .info-wrapper {
        display: flex;
        padding: 64px 130px 64px 64px;
        max-width: 686px;
    }
}

.info-wrapper:nth-child(1) {
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    background-color: #ffffff;
    color: #1C1D20;
}

@media (min-width: 1439px) {
    .info-wrapper:nth-child(1) {
        border-top-left-radius: 24px;
        border-top-right-radius: 0;
        border-bottom-left-radius: 24px;
    }
}

.info-wrapper:nth-child(2) {
    padding: 100px 16px;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;

    background-color: #242527;
    color: #1C1D20;
}

@media (min-width: 767px) {
    .info-wrapper:nth-child(2) {
        padding: 120px 45px;
    }
}

@media (min-width: 1439px) {
    .info-wrapper:nth-child(2) {
        padding: 120px 36px;
        border-top-left-radius: 0;
        border-top-right-radius: 24px;
        border-bottom-left-radius: 0;
    }
}

.stack-list {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    margin-bottom: 96px;
}

@media (min-width: 767px) {
    .stack-list {
        display: flex;
        flex-wrap: nowrap;
        margin-bottom: 162px;
    }
}

@media (min-width: 1439px) {
    .stack-list {
        margin-bottom: 224px;
    }
}

.stack-list__item {
    padding: 13px 18px;
    border: 1px solid rgba(28, 29, 32, 0.2);
    border-radius: 60px;
}

@media (min-width: 767px) {
    .stack-list__item {
        padding: 18px;
    }
}

.stack-list__txt {
    font-size: 16px;
    font-weight: 600;
    line-height: 1.18;
}

@media (min-width: 767px) {
    .stack-list__txt {
        white-space: nowrap;
        line-height: 1.05;
    }
}

.project-wrapper__txt {
    margin-bottom: 32px;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.05;
}

@media (min-width: 767px) {
    .project-wrapper__txt {
        font-size: 44px;
        font-weight: 500;
        line-height: 1.02;
    }
}

@media (min-width: 1439px) {
    .project-wrapper__txt {
        font-size: 44px;
        font-weight: 500;
        line-height: 1.02;
    }
}

.project-wrapper__link {
    display: inline-block;
    max-width: 142px;
    padding: 14px 32px;
    border-radius: 60px;
    text-align: center;
    white-space: nowrap;

    font-size: 16px;
    font-weight: 500;
    line-height: 1.18;

    background: rgb(237, 59, 68);
    color: #ffffff;
}

@media (min-width: 767px) {
    .project-wrapper__link {
        max-width: 184px;
        padding: 18px 50px;
    }
}

.buttons-wrapper {
    display: flex;
    justify-content: center;
    gap: 12px;
}

@media (min-width: 767px) {
    .buttons-wrapper {
        gap: 20px;
    }
}

.custom-swiper-button-prev,
.custom-swiper-button-next {
    padding: 14px 14px 10px 14px;
    border: 1px solid rgba(250, 250, 250, 0.5);
    border-radius: 50%;
    cursor: pointer;
}

@media (min-width: 767px) {

    .custom-swiper-button-prev,
    .custom-swiper-button-next {
        padding: 18px 18px 14px 18px;
    }
}

.swiper-button-prev__icon,
.swiper-button-next__icon {
    stroke: #ffffff;
    fill: none;
    width: 24px;
    height: 24px;
}

@media (min-width: 767px) {

    .swiper-button-prev__icon,
    .swiper-button-next__icon {
        width: 32px;
        height: 32px;
    }
}

.swiper-button-disabled {
    opacity: 0.5;
    pointer-events: none;
}